!!! 5
html(lang="en-US")
	meta(charset='UTF-8')
	//meta(http-equiv='refresh', content='1;url=/login.html')
	meta(name="viewport",content="width=device-width")
	title Appier Richmedia Toolkit
	script(src="plugins/modernizr.min.js")

	
	// build:css({.tmp,app}) styles/main.css
	link(href="styles/bootstrap.min.css",rel="stylesheet")
	link(href="styles/main.css",rel="stylesheet")
	// endbuild	
	link(href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2.css",rel="stylesheet")
	link(href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.4/select2-bootstrap.css",rel="stylesheet")
	body
		div.container
			header
				block head
					h1 Appier Richmedia Toolkit
		div.container
			block content
		div.container	
			block footer
				// footer this is footer

		// build:js({.tmp,app}) scripts/plugins.js
		script(src="plugins/jquery.min.js")
		script(src="plugins/bootstrap.min.js")
		script(src="plugins/underscore-min.js")
		script(src="plugins/uri.min.js")
		script(src="plugins/select2.min.js")
		// endbuild
		block footer-js

